target/
!.mvn/wrapper/maven-wrapper.jar

### CURRENT PROJECT ###
db
publish/Installer
publish/Specs
*.ini
*.lnk
mvnw*

buildNumber.properties



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/