<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %C{1.} [%t] %m():%L - %msg%n"/>
        </Console>
        <RollingFile name="Trace" fileName="${sys:com.mmz.specs:log.folder}trace.log"
                     filePattern="${sys:com.mmz.specs:log.folder}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout header="${java:runtime} - ${java:vm} - ${java:os}">
                <pattern>%d %p %C{1.} [%t] %m():%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="7 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="Debug" fileName="${sys:com.mmz.specs:log.folder}debug.log"
                     filePattern="${sys:com.mmz.specs:log.folder}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout header="${java:runtime} - ${java:vm} - ${java:os}">
                <pattern>%d %p %C{1.} [%t] %m():%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="Important" fileName="${sys:com.mmz.specs:log.folder}application.log"
                     filePattern="${sys:com.mmz.specs:log.folder}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout header="${java:runtime} - ${java:vm} - ${java:os}">
                <pattern>%d %p %C{1.} [%t] %m():%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.mmz.specs" level="trace" additivity="true"/>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <appender-ref ref="Trace" level="trace"/>
            <appender-ref ref="Debug" level="debug"/>
            <appender-ref ref="Important" level="info"/>
        </Root>
    </Loggers>
</Configuration>