<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
        <property name="hibernate.connection.CharSet">RUSSIAN_CHARSET</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>

        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>


        <mapping resource="hibernate/HibernateMapping.xml"/>
        <mapping class="com.mmz.specs.model.DetailEntity"/>
        <mapping class="com.mmz.specs.model.DetailListEntity"/>
        <mapping class="com.mmz.specs.model.DetailTitlesEntity"/>
        <mapping class="com.mmz.specs.model.MaterialEntity"/>
        <mapping class="com.mmz.specs.model.MaterialListEntity"/>
        <mapping class="com.mmz.specs.model.NoticeEntity"/>
        <mapping class="com.mmz.specs.model.TechProcessEntity"/>
        <mapping class="com.mmz.specs.model.UsersEntity"/>
        <mapping class="com.mmz.specs.model.UserTypeEntity"/>
        <mapping class="com.mmz.specs.model.ConstantsEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>